@import "tailwindcss";

@theme {
  /* MoneyWises Palette */
  --color-background: #050908;
  --color-surface: #0e0d14;
  --color-primary: #d55bf4;
  --color-primary-dark: #1f0059;
  --color-stroke: #432153;
  --color-text-main: #a4abb8;
  --color-text-white: #ffffff;

  --font-sans: "Geist", "Inter", sans-serif;
  --radius-xl: 24px;
}

:root { color-scheme: dark; }

body {
  background-color: var(--color-background);
  color: var(--color-text-main);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
}